html {
  background-color: blue;
  display: flex;
 justify-content: center; 
}
h1{
  background-color: red;
   color: green;
}
p{
  background-color: yellow; color: violet;
}
.text{
 font-family: Papyrus, Copperplate, Fantasy;
}
